{% extends 'base.html' %}

{% block title %}{{ block.super }} :: Добавляем новости {% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="card mb-3" style="width: 90%">
    <h2>Добавление новости</h2>
    <div class="media">
        <img src="https://picsum.photos/1000/200/?grayscale" class="mr-3">
    </div>
    <div class="media-body mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <form action="{% url 'add-news'%}" method="post">
            <button type="submit" class="btn btn-primary btn-block">Опубликовать</button>
        </form>
    </div>
</div>
{% endblock %}