<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Message:</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Add message</button>
</form>

<h3>Message list</h3>
{% for message in messages %}
<div>{{ message.text }}&nbsp;<b>
    {% for tag in message.tags %}
        #{{tag.text}}&nbsp
    {% endfor%}
</b></div>
{% endfor %}
</body>
</html>